@tailwind base;
@tailwind components;
@tailwind utilities;

/* These styles will be purged */
@layer components {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  input {
    @apply border-2 rounded w-full p-2 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50;
  }

  section {
    @apply max-w-7xl py-6 px-4 sm:px-6 lg:px-8;
  }

  .carousel__dot {
    @apply h-3 w-3 bg-blue-400 rounded-full m-1;
  }

  .carousel__dot--selected {
    background-color: #007bff;
    border-color: #007bff;
  }

  .no-prose ul > li::before {
    display: none !important;
  }
}
