@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html {
    font-family: Outfit, sans-serif;
  }
} */

/* These styles will be purged */
@layer components {
  html,
  body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
    @apply transition duration-300 ease-out;
  }

  h1, h2, h3, h4, h5, h6, .prose h3 {
    @apply mt-0;
  }

  input {
    @apply border-2 rounded w-full p-2 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50;
  }

  section {
    @apply container py-16;
  }

  .carousel__dot {
    @apply h-3 w-3 border border-primary border-opacity-30 bg-primary bg-opacity-30 rounded-full m-1;
  }

  .carousel__dot--selected {
    @apply bg-primary border-opacity-100;
  }

  .no-prose ul > li::before {
    display: none !important;
  }

  input {
    @apply rounded-md h-14;
  }
}
